/*  ------------------------ SECTION BASIC SETTINGS  ----------------------  */

@font-face {
    font-family: 'Igra Sans';
    src: url('../font/IgraSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html{
    font-family: 'Igra Sans';
    font-size: calc(1vw + 1vh);

    background-color: rgba(220,220,220, .3);
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}

/*  ------------------------ SECTION BASIC CLASS  ----------------------  */

.button{
    padding: calc(1vw + 1vh);
    border: none;
    border-radius: calc(3vw + 3vh);
    background: rgb(30,144,255);
    
    cursor: pointer;
    text-align: center;
    font-size: calc(.8vw + .8vh);
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
    mix-blend-mode: multiply;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(30,144,255, 0.27);
    -moz-box-shadow: 0px 5px 10px 2px rgba(30,144,255, 0.27);
    box-shadow: 0px 5px 10px 2px rgba(30,144,255, 0.27);
}

.transofrm-scale{
    transition: transform .27s;
}

.transofrm-scale:hover{
    transform: scale(1.04);
}

.hover-blue-color{
    cursor: pointer;
}
.hover-blue-color:hover{
    color:rgb(30,144,255);
}

.container-form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-field{
    width: calc(13vw + 13vh);
    height: calc(2vw + 2vh);
    margin-bottom: calc(.9vw + .9vh);
    text-align: center;
    border: none;
    outline: none;
    border-radius: calc(.8vw + .8vh);

    -webkit-box-shadow: 0px 5px 10px 2px rgba(30,144,255, 0.27);
    -moz-box-shadow: 0px 5px 10px 2px rgba(30,144,255, 0.27);
    box-shadow: 0px 5px 10px 2px rgba(30,144,255, 0.27);
}

.button-save{
    margin-right: calc(1vw + 1vh);
}
.delete-link{
    color: rgba(214, 3, 0, .8);
    font-size: calc(1.3vw + 1.3vh);
    margin-left: calc(1vw + 1vh);
}

.delete-link:hover{
    font-size: calc(1.4vw + 1.4vh);
}

/*  -------------------------- SECTION AUTHORIZATION  -------------------------------  */

.button-entrance{
    padding-left: calc(2vw + 2vh);
    padding-right: calc(2vw + 2vh);
}

/*  -------------------------- SECTION MAIN  -------------------------------  */

.section-main{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
}

.buttons-main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-link{
    width: calc(13vw + 13vh);
    height: calc(3.5vw + 3.5vh);
    margin-bottom: calc(1vw + 1vh);
    font-size: calc(1.2vw + 1.2vh);
}

/*  -------------------------- SECTION NAVBAR  -------------------------------  */

.nav{
    height: calc(3vw + 3vh);
    margin-left: calc(4vw + 4vh);
    margin-right: calc(4vw + 4vh);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.item-nav{
    display: flex;
    height: calc(3vw + 3vh);
    justify-content: space-around;
    align-items: center;
    font-size: calc(.8vw + .8vh);
    font-weight: 600;
    text-transform: uppercase;
}

.link-nav{
    color: rgba(0, 0, 0, .7);
}
/*  -------------------------- SECTION NOTES  -------------------------------  */

.container-notes{
    display: flex;
    margin: 0 calc(6vw + 6vh) calc(5vw + 5vh) calc(6vw + 6vh);
}

.header-notes{
    display: flex;
    align-items: center;
    white-space: nowrap;    
}


/*  -------------------------- SECTION NOTES LEFT  -------------------------------  */

.section-notes-left{
    width: 30%;
    margin-top: calc(5vw + 5vh);
}

.exit-notes{
    width: calc(7vw + 7vh);
}

.count-notes{
    margin-top: calc(1vw + 1vh);
    margin-right: calc(1.5vw + 1.5vh);
    text-align: center; 
}

.container-group{
    margin-top: calc(3vw + 3vh);
    margin-right: calc(1.5vw + 1.5vh);
    background-color: white;
    padding: calc(.7vw + .7vh);
    text-align: center;
    border-radius: calc(.4vw + .4vh);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(30,144,255, 0.20);
}

.list-group{
    margin-top: calc(.5vw + .5vh);
}

.edit-group{
    margin-left: calc(.7vw + .7vh);
    color: rgba(0,0,0,0.6);
}

.item-group{
    margin-top: calc(.3vw + .3vh);
    margin-bottom: calc(.3vw + .3vh);
    border-bottom:1px solid rgba(0,0,0,0.1);
}

.create-group{
    margin-top: calc(.7vw + .7vh);
    transition: transform .27s;
}

.create-group:hover{
    transform: scale(1.04);
}

.create-group-link{
    color:rgb(30,144,255);
}

/*  -------------------------- SECTION NOTES RIGHT  -------------------------------  */

.section-notes-right{
    width: 70%;
    margin-top: calc(5vw + 5vh);
}

.title-notes{
    color:rgb(30,144,255);
}

.form-notes{
    margin-left: calc(8vw + 8vh);
}
.input-notes{
    border: none;
    outline: none;
    border-radius: calc(2vw + 2vh);
    width: calc(13vw + 13vh);
    height: calc(1.8vw + 1.8vh);
    background: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: calc(2vw + 2vh);
}

.sort-notes{
    margin-left: calc(2vw + 2vh);
    color: rgb(133, 133, 133);
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: #000;
    font-size: calc(.7vw + .7vh);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.part-notes{
    margin-top: calc(3vw + 3vh);
    font-size: calc(.8vw + .8vh);
}

.list-notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-notes{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 32%;
    height: calc(7.5vw + 7.5vh);
    margin-top: calc(1vw + 1vh);
    padding: calc(.4vw + .4vh);
    background-color: white;
    border-radius: calc(.4vw + .4vh);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(30,144,255, 0.20);
}

.item-notes:hover{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(30,144,255, 0.27);
    -moz-box-shadow: 0px 5px 10px 2px rgba(30,144,255, 0.27);
    box-shadow: 0px 5px 10px 2px rgba(30,144,255, 0.27);
}

.item-notes-link{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: calc(7.5vw + 7.5vh);
}

.item-desc-notes, .item-group-notes, .item-date-created-notes{
    margin-top: calc(.5vw + .5vh);
} 

.item-title-notes{
    text-align: center;
}

.item-restore-notes{
    text-align: center;
    color:rgb(30,144,255);
    font-weight: 600;
    text-transform: uppercase;
    padding: calc(.3vw + .3vh);
    transition: transform .27s;
}

.item-restore-notes:hover{
        transform: scale(1.04);
}

.create-group:hover {
    transform: scale(1.04);
}

.create-note{
    position: fixed;
    z-index: 1;
    bottom: 5%;
    left: 75%;
}

.form-field-desc{
    width: calc(26vw + 26vh);
    height: calc(12vw + 12vh);
}

.button-delete{
   background-color:rgba(214, 3, 0, .8);;
}