{% extends 'base.html' %}
{% load static %}

{% block content %}
        <section class="section-main">
        <nav class="nav">
            <ul class="item-nav">
                <li><a class="link-nav hover-blue-color" href="{% url 'main' %}">На главную</a></li>
            </ul>
        </nav>
        <div class="container-form">
            <form class="base-form" action="." method="post" enctype="multipart/form-data">
                {% for field, group in united_data %}
                <p>{{ field }}<a class="delete-link" href="{% url 'group-delete' group.id %}">&#10006;</a></p>
                {% endfor %}
              {% csrf_token %}
              <input class="button-save button transofrm-scale" class="input-form" type="submit" value="Сохранить">
            </form>
        </div>
        </section>
{% endblock %}
