{% extends 'base.html' %}
{% load static %}

{% block content %}

           <section class="section-notes">
            <div class="container-notes">

                <div class="section-notes-left">
                    <a href="{% url 'logout' %}"><h3 class="exit-notes button transofrm-scale">&#8617; Выход</h3></a>
                    <div class="container-group">
                        <h3 class="title-group">Группы заметок <a class="edit-group hover-blue-color" href="#">&#9881;</a></h3>
                        <ul class="list-group">
                            <li class="item-group"><a class="hover-blue-color" href="#">Все заметки &rarr;</a></li>
                            {% for group in groups %}
                                <li class="item-group"><a class="hover-blue-color" href="#">{{ group }} &rarr;</a></li>
                            {% endfor %}
                            <li class="item-group"><a class="hover-blue-color" href="#">Удаленные &rarr;</a></li>
                        </ul>
                        <p class="create-group"><a class="create-group-link" href="{% url 'create_group' %}">Создать группу</a></p>
                    </div>
                    <p class="count-notes">Колличество заметок: 32</p>
                </div>
                <div class="section-notes-right">
                <div class="header-notes">
                        <h3 class="title-notes">Все заметки</h3>
                        <form class="form-notes" action="" method="get">
                            <input class="input-notes" name="search" placeholder="Поиск" type="search">
                        </form>

                        <div class="dropdown">
                            <small class="sort-notes hover-blue-color">Сортировать &darr;</small>
                            <div class="dropdown-content">
                                <ul>
                                    <li><a class="sort-item-notes hover-blue-color" href="#">Сначала старые</a></li>
                                    <li><a class="sort-item-notes" href="#">Сначала новые</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                <div class="part-notes">
                    <ul class="list-notes">
                        <li class="item-notes transofrm-scale">
                            <h3 class="item-title-notes">Название заметки</h3>
                            <p class="item-desc-notes">Описание заметки Описание заметки Описание заметки.....</p>
                            <small class="item-group-notes">Работа</small><br>
                            <small class="item-date-created-notes">22.08.2020</small>
                        </li>
                        <li class="item-notes transofrm-scale">
                            <h3 class="item-title-notes">Название заметки</h3>
                            <p class="item-desc-notes">Описание заметки Описание заметки Описание заметки.....</p>
                            <small class="item-group-notes">Работа</small><br>
                            <small class="item-date-created-notes">22.08.2020</small>
                        </li>
                        <li class="item-notes transofrm-scale">
                            <h3 class="item-title-notes">Название заметки</h3>
                            <p class="item-desc-notes">Описание заметки Описание заметки Описание заметки.....</p>
                            <small class="item-group-notes">Работа</small><br>
                            <small class="item-date-created-notes">22.08.2020</small>
                        </li>
                        <li class="item-notes transofrm-scale">
                            <h3 class="item-title-notes">Название заметки</h3>
                            <p class="item-desc-notes">Описание заметки Описание заметки Описание заметки.....</p>
                            <small class="item-group-notes">Работа</small><br>
                            <small class="item-date-created-notes">22.08.2020</small>
                        </li>
                    </ul>
                </div>
                    <a class="create-note button transofrm-scale" href="">Создать заметку</a>
                </div>
            </div>
        </section>


        {% for note in notes %}
            <p>{{ note.name }} {{ note.group.name }}</p>
        {% endfor %}

        {% for note in notes %}
            <p>{{ note.group.name }} {{ note.group.id }}</p>
        {% endfor %}
{% endblock %}
