{% extends 'base.html' %}
{% load static %}

{% block content %}

           <section class="section-notes">
            <div class="container-notes">
                <div class="section-notes-left">
                    <a href="{% url 'logout' %}"><h3 class="exit-notes button transofrm-scale">&#8617; Выход</h3></a>
                    <div class="container-group">
                        <h3 class="title-group">
                            Группы заметок
                            {% if groups|length >= 1 %}<a class="edit-group hover-blue-color" href="{% url 'groups-update' %}">&#9881;</a>{% endif %}
                        </h3>
                        <ul class="list-group">
                            <li class="item-group"><a class="hover-blue-color" href="{% url 'note' %}">Все заметки &rarr;</a></li>
                            {% for group in groups %}
                                <li class="item-group"><a class="hover-blue-color" href="{% url 'note' %}?group={{ group.id }}">{{ group }} &rarr;</a></li>
                            {% endfor %}
                            <li class="item-group"><a class="hover-blue-color" href="{% url 'note' %}?group={{ group_deleted_number }}">{{ group_deleted_label }} &rarr;</a></li>
                        </ul>
                        <p class="create-group"><a class="create-group-link" href="{% url 'group-create' %}">Создать группу</a></p>
                    </div>
                    <p class="count-notes">Колличество заметок: {{ notes|length }}</p>
                </div>
                <div class="section-notes-right">
                <div class="header-notes">

                    {% if not query_group_id %}
                         <h3 class="title-notes">Все заметки</h3>
                    {% elif query_group_id == '-1' %}
                         <h3 class="title-notes">{{ group_deleted_label }}</h3>
                    {% else %}
                        {% for group in groups %}
                            {% if group.id|slugify == query_group_id  %}
                             <h3 class="title-notes">{{ group.name }}</h3>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                        <form class="form-notes" action="." method="get">
                            <input class="input-notes" name="search" placeholder="Поиск" type="search">
                        </form>

                        <div class="dropdown">
                            <small class="sort-notes hover-blue-color">Сортировать &darr;</small>
                            <div class="dropdown-content">
                                <ul>
                                    <li>
                                        <a class="sort-item-notes hover-blue-color"
                                           href="{{ current_url }}{% if 'group' in current_url or 'search' in current_url %}&{% else %}?{% endif %}order=date_created">
                                            Сначала старые
                                        </a>
                                    </li>
                                    <li>
                                        <a class="sort-item-notes hover-blue-color"
                                           href="{{ current_url }}{% if 'group' in current_url or 'search' in current_url %}&{% else %}?{% endif %}order=-date_created">
                                            Сначала новые
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                <div class="part-notes">
                    <ul class="list-notes">
                        {% for note in notes %}
                        <li class="item-notes transofrm-scale">
                            <a {% if query_group_id == '-1' %}{% else %}href="{% url 'note-detail-update' note.pk %}"{% endif %} class="item-notes-link">
                            <h3 class="item-title-notes">{{ note.name|truncatechars:30 }}</h3>
                            <p class="item-desc-notes">{{ note.description|truncatechars:60 }}...</p>
                            <small class="item-group-notes">{{ note.group.name }}</small><br>
                            <small class="item-date-created-notes">{{ note.date_created|date:"Y-m-d h:i" }}</small>
                            </a>
                            {% if query_group_id == '-1' %} <a class="item-restore-notes" href="{% url 'note-restore' note.pk %}">Восстановить</a>{% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                    <a class="create-note button transofrm-scale" href="{% url 'note-create' %}">Создать заметку</a>
                </div>
            </div>
        </section>
{% endblock %}
