{% extends 'base.html' %}
{% load static %}

{% block content %}
        <section class="section-main">
            <div class="languages-main">
                <a href="#" class="language-main">ru</a>
                <a href="#" class="language-main">en</a>
            </div>
            <div class="main-menu">
                <div class="buttons-main">
                    <a class="main-link button transofrm-scale" href="{% url 'sign-in' %}">Вход</a>
                    <a class="main-link button transofrm-scale" href="{% url 'sign-up' %}">Регистрация</a>
                </div>
            </div>
        </section>
{% endblock %}
