{% extends 'base.html' %}
{% load static %}

{% block content %}
        <section class="section-main">
            <div class="lanuages-main">
                <a href="#" class="language-main">ru</a>
                <a href="#" class="language-main">en</a>
            </div>
            <div class="main-menu">
                <div class="buttons-main">
                    <button class="main-link button transofrm-scale" href="#">Вход</button>
                    <button class="main-link button transofrm-scale" href="#">Регистрация</button>
                </div>
            </div>
        </section>
{% endblock %}
